<form action="/search" method="post">
    <label class="label">Город</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input name="city" class="input" type="text" placeholder="Введите название города">
        </div>
        <div class="control">
            <select name="type" class="input">
                <option value="current">Текущая</option>
                <option value="forecast">Прогноз</option>
            </select>
        </div>
        <div class="control">
            <button type="submit" class="button is-info">
                Найти
            </button>
        </div>
    </div>
</form>