<form action="/search" method="post">
    <label class="label">Город</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <div class="control">
                <input class="input" type="text" placeholder="Введите название города">
            </div>
        </div>
        <div class="control">
            <button type="submit" class="button is-info">
                Найти
            </a>
        </div>
    </div>
</form>